name: Deploy Flutter Web no GitHub Pages

# 1. Trigger
on:
  push:
    branches:
      - main
      - master

# 2. Permissões
permissions:
  contents: read
  pages: write # Permite escrever na GH Pages
  id-token: write # Permite autenticar a action

jobs:
  # Job 1: Compilar o aplicativo
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (Baixar o código)
        uses: actions/checkout@v4

      - name: Setup Flutter (Instalar o Flutter)
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          channel: 'stable'
          cache: true 

      - name: Get repository name (Pegar nome do repo)
        run: echo "repo_name=$(echo $GITHUB_REPOSITORY | cut -d '/' -f 2)" >> $GITHUB_ENV

      - name: Install dependencies (Instalar pacotes)
        run: flutter pub get

      - name: Build Flutter Web (Compilar o app)
        run: |
          flutter build web --release \
            --base-href /${{ env.repo_name }}/

      - name: Remove CNAME if exists
        run: rm -f build/web/CNAME || true
      
      # 7. Salva a pasta 'build/web' como um "artefato" para o próximo job
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/web

  # Job 2: Fazer o deploy do artefato compilado
  deploy:
    needs: build 
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4